* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #f7f5f8;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu {
    display: flex;
    align-items: center;
}

.menu .logo {
    height: 60px;
    margin-right: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 8px 0;
    display: block;
}


nav ul li ul {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 160px;
    z-index: 100;
    padding: 10px 0;
    border-radius: 4px;
    flex-direction: column;
}

nav ul li:hover ul {
    display: flex;
}

nav ul li ul li a {
    padding: 10px 20px;
    white-space: nowrap;
}

nav ul li ul li a:hover {
    background-color: #f0f0f0;
}


.fa-solid fa-magnifying-glass {
    width: 24px;
    height: 24px;
    border: 2px solid #030391;
    border-radius: 50%;
    position: relative;
    margin-left: 10px;
    flex-shrink: 0;
}

.fa-solid fa-magnifying-glass::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    background: #030391;
    transform: rotate(45deg);
    top: 16px;
    left: 18px;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f5f8;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    text-align: center;
    color: #27e6ff;
    font-size: 100px;
    top: 42%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    position: absolute;
    background-color: #27e6ff;
    color: white;
    border: none;
    padding: 25px 50px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    color: #280f91;
}

button:hover {
    background-color: #1a9cd8;
    transition: background-color 0.3s ease;
}

/* CONTENT */

.content {
    width: 65%;
    margin: 0 auto;
    font-family: 'Asap', sans-serif;
}

h2 {
    text-align: center;
    font-size: 50px;
    margin: 30px 0;
    color: #000099;
    font-weight: bold;
}

p {
    font-size: 30px;
    line-height: 1.5;
    color: #000000;
    font-weight: normal;
}

.content b {
    font-size: 30px;
    line-height: 1.5;
    color: #000000;
    font-weight: bold;
}

h3 {
    position: relative;
    bottom: 15px;
    text-align: center;
    font-size: 20px;
    margin: 30px 0;
    color: #000000;
    font-weight: bold;
}

.so_do {
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.hinh_thuc {
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.image {
    background-color: #f7f7f7;
}

/* FOORTER */
.footer {
    font-family: ásap, sans-serif;
    background-color: #0c2d71;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo_nho {
    height: 200px;
    width: auto;
    margin-bottom: 10px;
}

.footer ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.footer ul li {
    margin-bottom: 8px;
    font-size: 24px;
}

.icon_mxh {
    height: 100px;
    width: auto;
    margin-bottom: 10px;
    display: flex;
    gap: 50px;
}

.icon_mxh a {
    display: inline-block;
    margin-top: 30px;
    width: 70px;
    height: 40px;
}

.footer-right {
    text-align: right;
    margin-top: 290px;
}